<head>
    <%= link_to "Main Page", '/' %>
</head>

<h1>Magic 8 Ball</h1>
<!--Ask a question a get a randomly generated answer. -->
<form action = "/magic" method = "GET" >
    <label for="question">Ask a question</label>
    <input type="text" name = 'hello'>
    <input type="submit" name="" value="Get Answer">
</form>

<br>



<br>
