<head>
    <%= link_to "Main Page", '/' %>
</head>

<h1> Madlibs </h1>

<hr/>


<br>
<center>
    <form action = "/madlibs" method = "GET" ><br>
        <label for="words">Type a Verb ending in ING</label>
        <input type="text" name="verbing1" ><br>
        <label for="words">Type an Adjective</label>
        <input type="text" name="adjective1" ><br>
        <label for="words">Type a Verb ending in ING</label>
        <input type="text" name="verbing2" ><br>
        <label for="words">Type a Body Part</label>
        <input type="text" name="bodypart1" ><br>
        <label for="words">Type an Adverb</label>
        <input type="text" name="adverb" ><br>
        <label for="words">Type a Body Part</label>
        <input type="text" name="bodypart2" ><br>
        <label for="words">Type a Noun ending in S</label>
        <input type="text" name="nouns" ><br>
        <label for="words">Type a Verb</label>
        <input type="text" name="verb1" ><br>
        <label for="words">Type an Animal ending in S</label>
        <input type="text" name="animals" ><br>
        <label for="words">Type a Noun</label>
        <input type="text" name="noun" ><br>
        <label for="words">Type a Verb</label>
        <input type="text" name="verb2" ><br>
        <label for="words">Type an Adjective</label>
        <input type="text" name="adjective2" ><br>
        <label for="words">Type an Color</label>
        <input type="text" name="color" ><br>
        <input type="submit">
        <br>
    </form>
    <br>
    <br>
</center>
<br>

</center>
