<h1>WELCOME TO RON'S ARCADE</h1>

<h4></h4>

<div> <%= link_to "High / Low Game", '/hilo' %></div> <br>
<div><%= link_to "MadLibs", '/madlibs' %></div><br>
<div><%= link_to "Magic 8 Ball", '/magic' %></div>
